div.app-wallpaper {
  height: 100vh;
  width: 60vw;
  padding: 32px 24px;
  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.app-wallpaper .text-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  line-height: 34px;
  font-size: 24px;
}

div.app-wallpaper .text-container strong {
  font-weight: 800;
}
