#page-login {
  display: flex;
  background: #fff;
}

#page-login main {
  flex: 1;
}

form.login-form {

  width: 700px;
  
  background: #FFFFFF;
  border-radius: 20px;

  padding: 162px 80px;
  padding-bottom: 0px;

  overflow: hidden;
}

form.login-form h2{
  color: #5C8599;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 42px;
}


form.login-form .footer-form {

  margin-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

form.login-form .footer-form .checkbox-container { 
  display: flex;
}

form.login-form .footer-form .checkbox-container .checkbox {

  margin-right: 15px;

  display: flex; 
  justify-content: center;
  align-items: center;

  cursor: pointer;

  height: 24px;
  width: 24px;
  border-radius: 8px;

  background-color: #D3E2E5;
} 

form.login-form .footer-form .checkbox-container .checkbox.active { 
  background-color: #37C77F;
} 

form.login-form .footer-form span, form.login-form .footer-form a {
  display: flex;
  color: #8FA7B3;
  margin-bottom: 8px;
  line-height: 24px;

  text-decoration: none;
}



