#reset-password {
  display: flex;
  background: #fff;
}

#reset-password main {
  flex: 1;
}

#reset-password main .text-container {
  color: #5C8599;
  max-width: 500px;
  padding: 130px 80px;
  padding-bottom: 0;
  margin-bottom: 50px;
}
#reset-password main .text-container h2 {
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}
#reset-password main .text-container span {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;

}

#reset-password main form.form-reset-password {
  width: 700px;
  /* margin: 64px auto; */

  background: #FFFFFF;
  border-radius: 20px;

  padding: 0px 80px;

  overflow: hidden;
}


