div#orphanages-page, div#orphanages-page-not-orphanages {
  padding: 64px 208px;
}

div#orphanages-page .text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

div#orphanages-page .text-container h2, div#orphanages-page-not-orphanages h2 {
  font-size: 32px;
  font-weight: 700;
  color: #4D6F80;
  line-height: 34px;
}

div#orphanages-page .text-container span {
  font-size: 16px;
  font-weight: 600;
  color: #8FA7B2;
  line-height: 21px;
}

div#orphanages-page hr, div#orphanages-page-not-orphanages hr {
  border: 1px solid #D3E2E5;
  margin-bottom: 40px;
}

div#orphanages-page .orphanages-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}

div#orphanages-page .orphanages-container .orphanage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 309px;
  border-radius: 20px;
  background: #fff
}

div#orphanages-page .orphanages-container .orphanage .map-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 32px;
}
div#orphanages-page .orphanages-container .orphanage .map-footer span {
  font-size: 24px;
  color: #4D6F80;
  line-height: 34px;
  font-weight: 700;
}

div#orphanages-page .orphanages-container .orphanage .map-footer  button {
  width: 48px;
  height: 48px;

  border: 0;

  background: #EBF2F5;
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;
}

div#orphanages-page .orphanages-container .orphanage .map-footer  button:hover { 
  background: #FFD666;
}

div#orphanages-page-not-orphanages main{
  display: flex;
  justify-content: center;
  align-items: center;
}

div#orphanages-page-not-orphanages h2{
  margin-bottom: 30px;
}